definition.json
{"name":"839056af-0be1-4652-b99e-8600434975a5","id":"/providers/Microsoft.Flow/flows/839056af-0be1-4652-b99e-8600434975a5","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Automate Signal Support Request","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"1d2e6053-1391-4b80-a1c9-83429aa39041","type":"User","tenantId":"fae6d70f-954b-4811-92b6-0530d6f84c43"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-05-02T09:51:43.8852587Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_Ticket_is_created,_do_the_following":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"a9e8829d-22d3-4d8f-bcec-8a027dffc3f3"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms_1","operationId":"CreateFormWebhook"},"parameters":{"form_id":"D9fm-kuVEUiStgUw1vhMQ1Y4OpUpVBdHn_7S3Yn_repUOE41WlRKVUM2VEJPS1pQMFVNMDJUR0MxSSQlQCN0PWcu"},"authentication":"@parameters('$authentication')"},"conditions":[]}},"actions":{"Get_the_Ticket_details":{"runAfter":{},"metadata":{"operationMetadataId":"7ab21b74-c2a0-4195-a1af-85c9261845e3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms_1","operationId":"GetFormResponseById"},"parameters":{"form_id":"D9fm-kuVEUiStgUw1vhMQ1Y4OpUpVBdHn_7S3Yn_repUOE41WlRKVUM2VEJPS1pQMFVNMDJUR0MxSSQlQCN0PWcu","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Create_task_in_Microsoft_Teams_Planner_1":{"runAfter":{"Check_for_32_day_Start_Date_Requirement":["Succeeded"]},"metadata":{"operationMetadataId":"3ab8eeae-c71b-4ed8-82c7-12024e02eeb0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"CreateTask_V4"},"parameters":{"body/groupId":"1d59e422-c003-4f38-8008-b950606e0c47","body/planId":"iq98Qh_KxUya5Al_akj3l4wADR08","body/title":"@outputs('Get_the_Ticket_details')?['body/r6e964190c8054307b46c4bdd673cb828']","body/bucketId":"S-nm8I8mu0KMthhMh9rafYwAFlEW","body/startDateTime":"@outputs('Get_the_Ticket_details')?['body/submitDate']","body/priority":5},"authentication":"@parameters('$authentication')"}},"Post_ticket_creation_to_Helpdesk_Teams_channel_1":{"runAfter":{"Update_the_task_details_for_the_newly_created_ticket_1":["Succeeded"]},"metadata":{"operationMetadataId":"242b78ba-50a9-4828-a04d-5008e02ca717"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"User","location":"Channel","body/recipient/groupId":"1d59e422-c003-4f38-8008-b950606e0c47","body/recipient/channelId":"19:dod:51e94dae9db842489d680c3a85054480@thread.tacv2","body/messageBody":"<table style=\"width:100%;border:orange;border-width:5px;border-style:dashed\">\n<tr>\n<th style=\"text-align:center;font-size:25px;\">SIGNAL SUPPORT REQUEST SUBMITTED</th>\n</tr>\n<tr>\n<th style=\"text-align:center;font-size:25px\"><a href=\"https://dod.teams.microsoft.us/l/entity/com.microsoft.teamspace.tab.planner/_djb2_msteams_prefix_3834992347?webUrl=https%3a%2f%2ftasks.osi.apps.mil%2ffae6d70f-954b-4811-92b6-0530d6f84c43%2fHome%2fPlanViews%2fiq98Qh_KxUya5Al_akj3l4wADR08&context=%7b%0d%0a++%22subEntityId%22%3a+%22@{outputs('Create_task_in_Microsoft_Teams_Planner_1')?['body/id']}%22%2c%0d%0a++%22channelId%22%3a+%2219%3adod%3a51e94dae9db842489d680c3a85054480%40thread.tacv2%22%0d%0a%7d&tenantId=fae6d70f-954b-4811-92b6-0530d6f84c43\">@{outputs('Create_task_in_Microsoft_Teams_Planner_1')?['body/title']}</a></th>\n</tr>\n</table>"},"authentication":"@parameters('$authentication')"}},"Check_if_a_document_was_uploaded_(repeat)":{"actions":{"Create_a_new_folder_for_attached_ticket_documents":{"runAfter":{},"metadata":{"operationMetadataId":"ec93ecea-88e1-41a8-97c9-aa27e207ceef"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateNewFolder"},"parameters":{"dataset":"https://armyeitaas.sharepoint-mil.us/teams/2dMDTFS6Operations/","table":"34363ef4-2653-4535-9d05-40fe2318120f","parameters/path":"/General/Requests/@{outputs('Get_the_Ticket_details')?['body/r6e964190c8054307b46c4bdd673cb828']}"},"authentication":"@parameters('$authentication')"}},"Do_the_following_for_each_document_attached_to_the_ticket":{"foreach":"@body('Parse_JSON')","actions":{"Move_the_file_to_newly_created_ticket_folder":{"runAfter":{"Get_the_each_file_metadata":["Succeeded"]},"metadata":{"operationMetadataId":"f6c0a2f1-d83c-4065-afe1-34486a291712"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"MoveFileAsync"},"parameters":{"dataset":"https://armyeitaas.sharepoint-mil.us/teams/2MDTFHELPDESK/","parameters/sourceFileId":"@outputs('Get_the_each_file_metadata')?['body/Id']","parameters/destinationDataset":"https://armyeitaas.sharepoint-mil.us/teams/2dMDTFS6Operations/","parameters/destinationFolderPath":"/Shared Documents/General/Requests/@{outputs('Create_a_new_folder_for_attached_ticket_documents')?['body/{Name}']}","parameters/nameConflictBehavior":2},"authentication":"@parameters('$authentication')"}},"Get_the_each_file_metadata":{"runAfter":{},"metadata":{"operationMetadataId":"f142327e-394b-421f-8432-60d47ac5f3fb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileMetadataByPath"},"parameters":{"dataset":"https://armyeitaas.sharepoint-mil.us/teams/2MDTFHELPDESK/","path":"/Shared Documents/Apps/Microsoft Forms Fairfax/2d MDTF Signal Support Request/Question/@{items('Do_the_following_for_each_document_attached_to_the_ticket')?['name']}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_a_new_folder_for_attached_ticket_documents":["Succeeded"]},"metadata":{"operationMetadataId":"672be44d-ae0d-4d3d-af36-4a2d66e4ab4e"},"type":"Foreach"}},"runAfter":{"Post_ticket_creation_to_Helpdesk_Teams_channel_1":["Succeeded"]},"expression":{"not":{"equals":["@outputs('Get_the_Ticket_details')?['body/r8df1e644da34421c907695769a6ed4dc']",""]}},"metadata":{"operationMetadataId":"3d7694e1-9cc9-4767-a3f7-5253388823f4"},"type":"If"},"Update_the_task_details_for_the_newly_created_ticket_1":{"runAfter":{"Create_task_in_Microsoft_Teams_Planner_1":["Succeeded"]},"metadata":{"operationMetadataId":"5e396aa0-1f17-43c8-9dc0-655937862755"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"parameters":{"id":"@outputs('Create_task_in_Microsoft_Teams_Planner_1')?['body/id']","body/description":"Start Date:\n\t@{outputs('Get_the_Ticket_details')?['body/rbb38cf32b04941d887edfa3e918b793c']}\n\nEnd Date:\n\t@{outputs('Get_the_Ticket_details')?['body/r0eb50391ec2e4468aa27fba6f72c62d5']}\n\nBaseband Only:\n\t@{outputs('Get_the_Ticket_details')?['body/rcd3655dd20f9410c9d1402ab3e9c9bbd']}\n\nMain Location:\n\tName:\n\t@{outputs('Get_the_Ticket_details')?['body/r6abe970b75e44e41ba45baaa2449a940']}\n\n\tLatitude:\n\t@{outputs('Get_the_Ticket_details')?['body/rb42fcfe20acf45b2bd6edea41f665511']}\n\n\tLongitude:\n\t@{outputs('Get_the_Ticket_details')?['body/r5f77d2cd068446e98f5f17634c42813b']}\n\nJump Location 1:\n\tName:\n\t@{outputs('Get_the_Ticket_details')?['body/rf7e126a781ae45c58232ac3a116d0a6b']}\n\n\tLatitude:\n\t@{outputs('Get_the_Ticket_details')?['body/r98ad96be6ff84b01a1a8d007af663d77']}\n\n\tLongitude:\n\t@{outputs('Get_the_Ticket_details')?['body/r77ab5d1def7a439b8226ba1caf6e2972']}\n\nJump Location 2:\n\tName:\n\t@{outputs('Get_the_Ticket_details')?['body/r783d0e4d7ab7456eaa3a9e05b8c4b704']}\n\n\tLatitude:\n\t@{outputs('Get_the_Ticket_details')?['body/r10ac72b531cc48e59596c9c5695dfa15']}\n\n\tLongitude:\n\t@{outputs('Get_the_Ticket_details')?['body/rcfa16913d6d0448dbf6c17d56cf475d7']}\n\nJump Location 3:\n\tName:\n\t@{outputs('Get_the_Ticket_details')?['body/rf98ece72ad2a41e29eec15c138e413cb']}\n\n\tLatitude:\n\t@{outputs('Get_the_Ticket_details')?['body/rb3ed564e012f48cebe9c70004a983772']}\n\n\tLongitude:\n\t@{outputs('Get_the_Ticket_details')?['body/r12b539afab794093a2c22ffd997d01a6']}\n\nModulation type:\n\t@{outputs('Get_the_Ticket_details')?['body/r4fd6e080c6f040e99c95b7939aee4699']}\n\nBand:\n\t@{outputs('Get_the_Ticket_details')?['body/rbcf96954a6b448d4bb6f0c03d061c583']}\n\nTerminals:\n\t@{outputs('Get_the_Ticket_details')?['body/r0b1c7256546b4a49aff582709ae4ee2c']}\n\nRequesting COMSEC:\n\t@{outputs('Get_the_Ticket_details')?['body/re1dcd9410089437c93355acb7ebfa313']}\n\nContact Information:\n\tEmail:\n\t@{outputs('Get_the_Ticket_details')?['body/rdc232fc0e33f437286938d304b394ec6']}\n\n\tPhone:\n\t@{outputs('Get_the_Ticket_details')?['body/r7aeb3c4872ca4c4e97bca12da284f266']}\n\nAdditional Comments:\n@{outputs('Get_the_Ticket_details')?['body/r7ddd26e964254d1f8d80b7a7a4c50842']}\n"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{},"runAfter":{"Check_if_a_document_was_uploaded_(repeat)":["Succeeded"]},"else":{"actions":{"Update_task_details":{"runAfter":{},"metadata":{"operationMetadataId":"528fc477-cdb9-4caa-9e1e-369648913b90"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"UpdateTaskDetails_V2"},"parameters":{"id":"@outputs('Create_task_in_Microsoft_Teams_Planner_1')?['body/id']","body/checklist":[{"id":"1","title":"JIST Submitted","isChecked":false},{"id":"2","title":"JIST Approved","isChecked":false},{"id":"3","title":"ACAS Submitted","isChecked":false},{"id":"4","title":"ACAS Approved","isChecked":false}]},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Get_the_Ticket_details')?['body/rcd3655dd20f9410c9d1402ab3e9c9bbd']","Yes"]},"metadata":{"operationMetadataId":"a09dedd9-c487-4bf8-96c5-6f8fc22f09ad"},"type":"If"},"Check_for_32_day_Start_Date_Requirement":{"actions":{"Confirmation_email_to_who_created_the_ticket":{"runAfter":{},"metadata":{"operationMetadataId":"a7c9fc09-d0ec-44be-9dbd-e3188b735dab"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_the_Ticket_details')?['body/rdc232fc0e33f437286938d304b394ec6']","emailMessage/Subject":"**ETP Required**","emailMessage/Body":"<div style=\"width:75%;height:100%;margin:auto;text-align:center;background-color:#F8F8FF;\">\n<div style=\"width:100%;\">\n<div style=\"width:100%;text-align:center;\">\n<table style=\"width:100%;background-color:#F5F5F5;border:lightgrey;border-width:4px;border-style:outset;\">\n<tr>\n<th style=\"vertical-align:middle;width:113px;height:113px;\"><img src=\"data:@{outputs('Get_Satellite_Photo')?['body']['$content-type']};base64,@{outputs('Get_Satellite_Photo')?['body']['$content']}\" width=\"113px\" height=\"113px\" alt=\"Satellite Photo\"/></th>\n<td><p style=\"font-family:arial;font-size:20px;font-weight:bold;\">2d MDTF Signal Support Request has been submitted under 32 days!</p>\n<p style=\"font-family:arial;font-size:20px;color:#FF8C00;\">Mission Name: @{outputs('Get_the_Ticket_details')?['body/r6e964190c8054307b46c4bdd673cb828']} requires an ETP.</p>\n<p style=\"font-family:arial;font-size:13px;\">Contact 2d MDTF NETOPS  on NIPR @ 4086497800 or SIPR @ 5046497800 for questions/issues regrading this request.</p></td>\n<th style=\"vertical-align:middle;width:113px;height:113px;\"><img src=\"data:@{outputs('Get_Satellite_Photo')?['body']['$content-type']};base64,@{outputs('Get_Satellite_Photo')?['body']['$content']}\" width=\"113px\" height=\"113px\" alt=\"Satellite Photo\"/></th>\n</tr>\n</table>\n</div>\n<div style=\"width:100%;text-align:center;\">\n<p style=\"font-size:12px\">Signal Support Request designed by 2d MDTF S6 Team</p>\n</div>\n</div>\n</div>","emailMessage/From":"usarmy.wiesbaden.usareur.list.mdtf-s6@army.mil","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Generate_email_of_ticket_to_Support_Team_distro":{"runAfter":{"Confirmation_email_to_who_created_the_ticket":["Succeeded"]},"metadata":{"operationMetadataId":"7d9ef82e-bc69-4f0b-b54c-5ef8cb7713de"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"sharleen.s.velez.mil@army.mil;harold.y.quinones.mil@army.mil;juan.c.riverarodriguez.mil@army.mil;justin.w.whitten.mil@army.mil;john.a.lawer.mil@army.mil;jonathan.m.whiteside2.mil@army.mil;marlon.j.coley.mil@army.mil","emailMessage/Subject":"2d MDTF Signal Support Request","emailMessage/Body":"<p><br>\nSignal Support Request submitted for Mission Name: @{outputs('Get_the_Ticket_details')?['body/r6e964190c8054307b46c4bdd673cb828']}<br>\n<br>\n** MISSION REQUIRES AN ETP **<br>\n<br>\nPlease review the 2d MDTF S6 Operations Planner for details.</p>","emailMessage/Cc":"domenic.j.luciani2.mil@army.mil","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_array_of_JSON_information_from_uploaded_document":["Succeeded"]},"else":{"actions":{"Confirmation_email_to_who_created_the_ticket_1":{"runAfter":{},"metadata":{"operationMetadataId":"a7c9fc09-d0ec-44be-9dbd-e3188b735dab"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_the_Ticket_details')?['body/rdc232fc0e33f437286938d304b394ec6']","emailMessage/Subject":"2d MDTF Signal Support Request","emailMessage/Body":"<div style=\"width:75%;height:100%;margin:auto;text-align:center;background-color:#F8F8FF;\">\n<div style=\"width:100%;\">\n<div style=\"width:100%;text-align:center;\">\n<table style=\"width:100%;background-color:#F5F5F5;border:lightgrey;border-width:4px;border-style:outset;\">\n<tr>\n<th style=\"vertical-align:middle;width:113px;height:113px;\"><img src=\"data:@{outputs('Get_Satellite_Photo')?['body']['$content-type']};base64,@{outputs('Get_Satellite_Photo')?['body']['$content']}\" width=\"113px\" height=\"113px\" alt=\"Satellite Photo\"/></th>\n<td><p style=\"font-family:arial;font-size:20px;font-weight:bold;\">2d MDTF Signal Support Request has been submitted!</p>\n<p style=\"font-family:arial;font-size:20px;color:#FF8C00;\">Mission Name: @{outputs('Get_the_Ticket_details')?['body/r6e964190c8054307b46c4bdd673cb828']}</p>\n<p style=\"font-family:arial;font-size:13px;\">Contact 2d MDTF NETOPS  on NIPR @ 4086497800 or SIPR @ 5046497800 for questions/issues regrading this request.</p></td>\n<th style=\"vertical-align:middle;width:113px;height:113px;\"><img src=\"data:@{outputs('Get_Satellite_Photo')?['body']['$content-type']};base64,@{outputs('Get_Satellite_Photo')?['body']['$content']}\" width=\"113px\" height=\"113px\" alt=\"Satellite Photo\"/></th>\n</tr>\n</table>\n</div>\n<div style=\"width:100%;text-align:center;\">\n<p style=\"font-size:12px\">Signal Support Request designed by 2d MDTF S6 Team</p>\n</div>\n</div>\n</div>","emailMessage/From":"usarmy.wiesbaden.usareur.list.mdtf-s6@army.mil","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Generate_email_of_ticket_to_Support_Team_distro_1":{"runAfter":{"Confirmation_email_to_who_created_the_ticket_1":["Succeeded"]},"metadata":{"operationMetadataId":"7d9ef82e-bc69-4f0b-b54c-5ef8cb7713de"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"sharleen.s.velez.mil@army.mil;harold.y.quinones.mil@army.mil;juan.c.riverarodriguez.mil@army.mil;justin.w.whitten.mil@army.mil;john.a.lawer.mil@army.mil;jonathan.m.whiteside2.mil@army.mil;marlon.j.coley.mil@army.mil","emailMessage/Subject":"2d MDTF Signal Support Request","emailMessage/Body":"<p><br>\nSignal Support Request submitted for Mission Name: @{outputs('Get_the_Ticket_details')?['body/r6e964190c8054307b46c4bdd673cb828']}<br>\n<br>\nPlease review the 2d MDTF S6 Operations Planner for details.</p>","emailMessage/Cc":"domenic.j.luciani2.mil@army.mil","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"expression":{"lessOrEquals":["@outputs('Format_Requested_Start_Date')",""]},"metadata":{"operationMetadataId":"970f9cdd-4b83-4633-bf94-4688c48001c7"},"type":"If"},"Format_Requested_Start_Date":{"runAfter":{"Scope":["Succeeded"]},"metadata":{"operationMetadataId":"3f24982c-026c-400c-a043-7bee7575cad5"},"type":"Compose","inputs":"@formatDateTime(outputs('Get_the_Ticket_details')?['body/rbb38cf32b04941d887edfa3e918b793c'], 'M-d-yyyy hh:mm')"},"Format_32-day_Submit_Date":{"runAfter":{"Format_Requested_Start_Date":["Succeeded"]},"metadata":{"operationMetadataId":"4ac0f359-6800-430a-b390-1395add870cf"},"type":"Compose","inputs":"@formatDateTime(addDays(utcNow(),32),'M-d-yyyy hh:mm')"},"Scope":{"actions":{"Get_Satellite_Photo":{"runAfter":{},"metadata":{"operationMetadataId":"15908122-4148-4702-81c4-e2d1244697dd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath"},"parameters":{"dataset":"https://armyeitaas.sharepoint-mil.us/teams/2dMDTFS6Operations/","path":"/Shared Documents/General/satellite_v1.png","inferContentType":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_the_Ticket_details":["Succeeded"]},"metadata":{"operationMetadataId":"5b4085bb-da2e-4258-b62a-aa434440bddf"},"type":"Scope"},"Parse_JSON":{"runAfter":{"Format_32-day_Submit_Date":["Succeeded"]},"metadata":{"operationMetadataId":"4793bd15-e87b-4b6b-bec3-2f0d23a9aefe"},"type":"ParseJson","inputs":{"content":"@outputs('Get_the_Ticket_details')?['body/r8df1e644da34421c907695769a6ed4dc']","schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"}}}}}},"Initialize_array_of_JSON_information_from_uploaded_document":{"runAfter":{"Parse_JSON":["Succeeded","Failed"]},"metadata":{"operationMetadataId":"477ad969-8555-4040-904c-01c43f77bc28"},"type":"InitializeVariable","inputs":{"variables":[{"name":"DocumentDetails","type":"array"}]}}}},"connectionReferences":{"shared_microsoftforms_1":{"connectionName":"shared-microsoftform-4c10c435-72d3-4056-9d52-d4f0e33c41d7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_planner":{"connectionName":"shared-planner-0681baeb-0582-45b0-bdad-8fc5-78483d49","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_planner","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-46f09433-3edd-4cfc-863d-890c-3dc1da6f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"37133888715a4fb4b5091c024c45de93","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-d6614e8f-8d60-4600-ab4b-9b4d55fc53e7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}